<div id="page-content">
  <h1 class="text-center mt-4">Listing all articles</h1>
  <div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
  <%= "Copyright by #{link_to('Abdur Rehman', 'https://abdurrehman0024.github.io/portfolio/')}".html_safe %>


  </div>
</footer>


